{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'students/css/util.css'%}" >
        <link rel="stylesheet" type="text/css" href="{% static 'students/css/main.css'%}" >
        <link rel="stylesheet" type="text/css" href="{% static 'students/css/bootstrap.min.css'%}" >


        <title>Students</title>
    </head>
    <body class="bg-secondary ">
        <nav class="navbar navbar-expand-md navbar-dark mc-4 bg-dark border-bottom border-primary">
            <a class="navbar-brand" href="{% url 'home' %}">School Management System</a>
            {% if user.is_authenticated %}
                <div class="" id="">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item  nav-link text-light">
                            {{ user.username }}
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </nav>
        <div class="container mt-2 bg-light border rounded"> {% block content %}{% endblock %}</div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
        <script src="{% static 'students/js/bootstrap.min.js'%}"></script>
        <script src="{% static 'students/js/main.js'%}"></script>
    </body>
</html>
