{% extends "students/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="wrap-login100" style="padding: 10px;">
    <div class="col rounded  p-0 flex-md-row mb-2 shadow-sm h-md-250 ">
        <div class=" d-flex flex-column overflow-auto">
            <form class="form-group " method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <fieldset>
                    <div class="media-body m-3">
                        {% if s_form.errors %}
                            <div class="alert alert-danger" role="alert">
                                <ul class='form-errors'>
                                    {% for error in s_form.errors %}
                                        <li> Check {{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {{s_form|crispy}}
                    </div>
                    <div class="w-100 d-flex flex-row justify-content-around">
                        <button class="btn btn-info w-50 m-3">
                            Create
                        </button>
                        <a href="{% url 'home' %}" class=" w-50 m-3">
                            <button type="button" class=" w-100 btn btn-danger w-50">
                                Cancel
                            </button>
                        </a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock content%}