{% extends "schools/base.html" %}
{% block content %}
<main class="container p-2" role="main" style="margin-top: 40px;">
    <div class=" w-100 p-1 pb-2 bg-dark rounded border border-secondary overflow-hidden">
        <div class="text-white mt-2 mb-2 h5 w-100 text-center">
            Student's Database
        </div>
        <div class=" justify-content-around">
            {% if user.profile.Create_New_Entry %}
                <a href="{% url 'create-entry' %}" class="text-decoration-none ml-2">
                    <button class="btn btn-info">
                        Create Entry
                    </button>
                </a>
            {% endif %}
            <form class="d-flex flex-row p-0 justify-content-center float-right" action="{% url 'search' %}" method="GET">
                <input class="form-control mx-2 wy-md-50 my-2 my-sm-0" type="text" value='{{search}}' placeholder="Search" name='q'>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="w-100 rounded mt-2 border border-secondary">
        <div class="overflow-auto table-responsive bg-light">
            <table class="table m-0 table-hover bg-dark ">
                <thead>
                    <tr class=" text-light">
                        <td><strong>Admission No.</strong></td>
                        <td><strong>Name</strong></td>
                        <td><strong>Fathers Name</strong></td>
                        <td><strong>Phone no</strong></td>
                        <td></td>
                    </tr>
                </thead>
                {% for student in students %}
                    <tbody>
                        <tr class="text-light">
                            <td>{{ student.Admission_no }}</td>
                            <td>{{ student.Name }}</td>
                            <td>{{ student.Fathers_Name }}</td>
                            <td>{{ student.Phone }}</td>
                            <td class="text-center">
                                <a href="{% url 'student-ID' student.id %}">
                                    <i class=" fa text-info fa-2x fa-arrow-circle-right" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
        {% if students.has_other_pages %}
            <ul class="pagination">
                {% if students.has_previous %}
                    <li><a class="text-primery" href="?page={{ students.previous_page_number }}"><button class='btn btn-outline-info'>&laquo;</button></a></li>
                {% else %}
                    <li class="disabled"><button class='btn btn-secondary btn-outline-secondary'><span>&laquo;</span></button></li>
                {% endif %}
                {% for i in students.paginator.page_range %}
                    {% if students.number == i %}
                        <li class="active"><button class='btn btn-success btn-outline-success'><span>{{ i }} </span></button></li>
                    {% else %}
                        <li><a href="?page={{ i }}"><button class='btn btn-outline-info'>{{ i }}</button></a></li>
                    {% endif %}
                {% endfor %}
                {% if students.has_next %}
                    <li><a href="?page={{ students.next_page_number }}"><button class='btn btn-outline-info'>&raquo;</button></a></li>
                {% else %}
                    <li class="disabled"><button class='btn btn-secondary btn-outline-secondary'><span>&raquo;</span></button></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</main>
{% endblock %}