{% extends 'schools/base.html' %}
{% block content %}
<main class="container p-1 bg-dark text-white rounded" role="main" style="margin-top: 50px;">
    <div class=" w-100 p-1 bg-dark rounded border border-secondary overflow-hidden">
        <div class="text-light mt-2 mb-2 w-100 text-center">
            Student's Database
        </div>
        <div class=" justify-content-around">
            {% if results %}
                <div class="pl-2 m-0 text-white float-left">
                    Results Found : {{result_no}}
                </div>
            {% endif %}
            <form class="d-flex flex-row p-0 justify-content-center float-right" action="{% url 'search' %}" method="GET">
                <input class="form-control wy-md-50 my-2 my-sm-0" type="text" value='{{search}}' placeholder="Search" name='q'>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
    {% if results %}
        <div class="w-100 mt-2 table-responsive border border-secondary rounded">
            <table class="table">
                <thead>
                    <tr class="text-white" >
                        <td><strong>Admission No.</strong></td>
                        <td><strong>Name</strong></td>
                        <td><strong>Phone no</strong></td>
                        <td><strong>Email</strong></td>
                    </tr>
                </thead>
                {% for result in results %}
                    <tr class="text-white">
                        <td>{{ result.Admission_no }}</td>
                        <td>{{ result.Name }}</td>
                        <td>{{ result.Phone }}</td>
                        <td>{{ result.Email }}</td>
                        <td><a href="{% url 'student-ID' result.id %}">
                                <i class=" fa text-info fa-2x fa-arrow-circle-right" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    {% if no_result %}
        <div class="m-3 w-100">
            <h2 class="w-100 text-center mb-3">No Search Results Found!</h2>
            <h6>You can search from the following information of student</h6>
            <ul class="ml-4">
                <li style="list-style-type: square;">Name</li>
                <li style="list-style-type: square;">Admission Number</li>
                <li style="list-style-type: square;">Aadhar Number</li>
                <li style="list-style-type: square;">Address</li>
            </ul>
        </div>
    {% endif %}
    <div class=" mt-2 w-100">
        <a href="{% url 'student' %}">
            <i class=" fa text-warning fa-2x fa-arrow-circle-left" aria-hidden="true"></i>
        </a>
    </div>
</main>
{% endblock %}

