{% extends "students/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="w-100 m-3">
    <div class="posts mb-2 w-100">
        <div class="md-6">
            <div class="col no-gutters border rounded overflow-hidden p-0 flex-md-row mb-2 shadow-sm h-md-250 position-relative">
                <div class="w-100  flex-row position-static">
                    <div class="m-3">
                        {% if messages %}
                            <div class="alert alert-success">
                                <ul class="messages list-unstyled">
                                    {% for message in messages %}
                                    <li class="{{ message.tags }}">{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                    <form class="form-group" method="POST" enctype="multipart/form-data">
                        {%csrf_token%}
                        <div class="media-body m-3">
                        {{form|crispy}}
                        </div>
                        <div class="w-100 d-flex container-login100-form-btn justify-content-around">
                            <button class="btn btn-info w-50 m-3">
                                Update
                            </button>
                            <a href="{% url 'home' %}" class=" w-50 m-3">
                                <button type="button" class=" w-100 btn btn-danger w-50">
                                    Cancel/back
                                </button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}
