{% extends "students/base.html" %}
{% block content %}
<div class="wrap-login100" style="padding: 10px;">
    <div class="w-100 col border rounded overflow-hidden p-0 flex-md-row mb-2 shadow-sm h-md-250 position-relative">
        <div class="w-100 flex-row flex-column position-static">
            <div class="m-3">
                {% if messages %}
                    <div class="alert alert-danger">
                        <ul class="messages list-unstyled">
                            {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <form class="form-group" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <div class="media-body m-3">
                    <div class="media-body m-3">
                        {% for field in form %}
                            <table class="table table-borderless ">
                                <tr>
                                    <td>{{ field.label_tag }}</td>
                                    <td> <div class="bg-secondary text-white p-1 m-0 border border-primary rounded">{{ field }}</td>
                                </tr>
                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </table>
                        {% endfor %}
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                <ul class='form-errors'>
                                    {% for error in form.errors %}
                                        <li> Check {{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="w-100 d-flex flex-row container-login100-form-btn justify-content-around">
                    <button type="button" class="btn btn-info w-25 " data-toggle="modal" data-target="#modalLoginAvatar">
                        Submit
                    </button>
                    <a href="{% url 'student-ID' student.id %}" class=" w-25  ">
                        <button type="button" class=" w-100 btn btn-danger w-50">
                            Cancel
                        </button>
                    </a>
                </div>
                <div class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
                        <div class="modal-content">
                            <!-- <div class="modal-header">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg" alt="avatar" class="rounded-circle img-responsive">
                            </div> -->
                            <div class="modal-body text-center mb-1">
                            <h5 class="mt-1 mb-2">Are You Sure you want to delete this entry?</h5>
                            <div class="text-center mt-4">
                                <button class="btn btn-danger mt-1">Confirm Submit</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}