{% extends "students/base.html" %}
{% block content %}


<div class="wrap-login100 w-50" style="padding: 10px;">
		<div class='p-0 pt-5 d-flex m-auto justify-content-center'>
			<form class=" login100-form validate-form" method="POST">
				{% csrf_token %}
				<span class="login100-form-title ">
					Login
				</span>
				<div class="wrap-input100 " style="display:inline-flex;" >
					<input class="input100 border rounded" type="text" name="username" placeholder="Username">
					<span class="focus-input100 border rounded bg-info"></span>
					<span class="symbol-input100">
						<i class="fa fa-user-circle-o" aria-hidden="true"></i>
					</span>
				</div>
				<div class="wrap-input100 ">
					<input class="input100 border rounded" type="password" name="password" placeholder="Password">
					<span class="focus-input100 border rounded bg-info"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>
				{% if form.non_field_errors %}
				<div class="alert alert-danger" role="alert">
					<ul class='form-errors'>
						{% for error in form.non_field_errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
				<div class="container-login100-form-btn">
					<button class="login100-form-btn border rounded bg-info">
						Login
					</button>
				</div>
			</form>
		</div>
	</div>
{% endblock content%}