{% extends 'schools/base.html' %}
{% load static %}
{% block content %}
<div class="flex justify-center mt-16 pt-16 sm:pt-24 ">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 lg:w-1/2">
        <p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
        </p>
        <br>
        <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
        </p>
    </div>
</div>
{% endblock %}