{% extends 'schools/base.html' %}
{% load static %}
{% block title %}Password reset Done{% endblock %}
{% block content %}
<div class="flex justify-center mt-16 pt-16 sm:pt-24 ">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 lg:w-1/2">
        <h2>Password reset complete</h2>
        <div class="card">
            <p>
            Your password has been set. You may go ahead and <a href="{% url 'login' %}" style="color: lightblue;">sign in</a> now.
            </p>
        </div>
    </div> <!-- col.// -->
</div>
{% endblock %}