{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="author" content="sachin baghel">
        <meta name="viewport" content="width=device-width">
        <meta name="keyword" content="School-Management-system">
        <meta name="desctiption" content="school database">
        <!--  CSS -->
        <!-- <link rel="icon" type="image/png" href="{% static 'images/Logo.png'%}"/> -->
        <link rel="stylesheet"  type="text/css"  href="{% static 'tailwindcss/tailwind.min.css' %}">
        <link rel="stylesheet"  type="text/css"  href="{% static 'tailwindcss/font_montserrat.css' %}" >
        <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
        <!-- Script -->
        <script src="{% static 'tailwindcss/Chart.bundle.min.js' %}"></script>
        <script src="{% static 'fonts_icons/js/all.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        
        <title>Students</title>
    </head>
    <body class="bg-gray-300 text-sm font-medium" style="font-family: 'Montserrat', sans-serif; font-size: 11px;">
        <nav id="header" class="bg-gray-900 fixed w-full z-20 top-0 shadow ">
            <div class="w-full container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 md:pb-0">
                <div class="w-3/4 pl-2 md:pl-0 mb-2">
                    <a class="text-white text-base xl:text-xl no-underline hover:no-underline font-bold flex items-center float-left" href="#">
                        <!-- <img src="{% static 'images/Logo.png' %}" class="mr-2" width="30" height="30" alt="Logo"> -->
                        College Management System
                    </a>
                </div>
                <div class="w-1/4 pr-0 mb-2">
                    <div class="flex relative inline-block float-right">
                        {% if 'login' in request.path or 'password-reset' in request.path %}
                        <div class="relative text-sm float-right items-center">
                            <button id="userButton" class="focus:outline-none mr-3 ">
                                <a href="#" class="rounded px-4 py-2 block text-gray-200 hover:text-gray-900 hover:bg-gray-400 no-underline hover:no-underline">Register</a></li>
                            </button>
                        </div>
                        {% else %}
                            <div class="relative text-sm float-right items-center">
                                <button id="userButton" class="focus:outline-none mr-3 ">
                                    <img class="w-8 h-8 rounded-full mr-2 hover:shadow-outline " src="{{request.user.Profile_pic.url}}" alt="Avatar of User">
                                </button>
                                <div id="userMenu" class="bg-white rounded shadow-md mt-2 absolute mt-12 top-0 right-0 min-w-full overflow-auto z-30 invisible">
                                    {% if user.is_authenticated %}
                                        <ul class="list-reset overflow-x-hidden" style="min-width: max-content;">
                                            <li class="px-4 py-2 block">
                                                <div class="flex justify-between">
                                                    <div class="">
                                                        <img class="w-12 h-12 rounded-full mr-2 mt-1" src="{{request.user.Profile_pic.url}}" alt="Avatar of User">
                                                    </div>
                                                    <div class="w-auto">
                                                        <p class="text-xl text-blue-500">{{user.username}}</p>
                                                        <p class="text-gray-900" style="font-size: smaller;">{{user.email}}</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li><a href="{% url 'users' request.user.status request.user.staff.id %}" class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline hover:no-underline"><i  class="fa fa-user-circle fa-fw mr-3" aria-hidden="true" ></i>My Profile</a></li>
                                            <li><a href="#" class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline hover:no-underline"><i  class="fa fa-bell fa-fw mr-3" aria-hidden="true" ></i>Notifications</a></li>
                                            <li>
                                                <hr class="border-t mx-2 border-gray-400">
                                            </li>
                                            <li><a href="{% url 'logout' %}" class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline hover:no-underline"><i class="fas fa-sign-out-alt fa-fw mr-3" aria-hidden="true" ></i>Logout</a></li>
                                        </ul>
                                    {% else %}
                                        <ul class="list-reset w-32">
                                            <li><a href="{% url 'login' %}" class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline hover:no-underline">Login</a></li>
                                            <li><a href="#" class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline hover:no-underline">Contact Us</a></li>
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <div class="block sm:hidden pr-4">
                                <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-teal-500 hover:border-teal-500 appearance-none focus:outline-none">
                                    <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <title>Menu</title>
                                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                                    </svg>
                                </button>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="w-full flex-grow sm:flex sm:items-center sm:w-auto hidden sm:block sm:mt-0 bg-gray-900 z-10 " id="nav-content">
                        <ul class="list-reset sm:flex flex-1 items-center px-4 md:px-0">
                            <li class="mr-6 my-2 md:my-0" >
                                <a href="{% url 'home' %}" id="dashboard-nav" class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-orange-600 hover:bg-gray-800 px-2 border-b-2 border-gray-900 hover:border-orange-600">
                                    <i  class="fas fa-tachometer-alt fa-fw mr-3" aria-hidden="true" ></i><span class="pb-1 md:pb-0 text-sm">Dashboard</span>
                                </a>
                            </li>
                            <li class="mr-6 my-2 md:my-0">
                                <a href="{% url 'dashboard' 'student' %}" id="student-nav" class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-blue-500 hover:bg-gray-800 px-2 border-b-2 border-gray-900 hover:border-blue-500">
                                    <i class="fas fa-child fa-fw mr-3"></i><span class="pb-1 md:pb-0 text-sm">Students</span>
                                </a>
                            </li>
                            <li class="mr-6 my-2 md:my-0">
                                <a href="{% url 'dashboard' 'teacher' %}" id="teacher-nav" class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-purple-500 hover:bg-gray-800 px-2 border-b-2 border-gray-900 hover:border-purple-500">
                                    <i class="fa fa-chalkboard-teacher fa-fw mr-3"></i><span class="pb-1 md:pb-0 text-sm">Teachers</span>
                                </a>
                            </li>
                            <li class="mr-6 my-2 md:my-0">
                                <a href="{% url 'dashboard' 'staff' %}" id="staff-nav" class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-green-500 hover:bg-gray-800 px-2 border-b-2 border-gray-900 hover:border-green-500">
                                    <i class="fa fa-users fa-fw mr-3" aria-hidden="true"></i><span class="pb-1 md:pb-0 text-sm">Staff</span>
                                </a>
                            </li>
                            <li class="mr-6 my-2 md:my-0">
                                <a href="#" class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-pink-400 hover:bg-gray-800 px-2 border-b-2 border-gray-900 hover:border-pink-400">
                                    <i class="fa fa-calendar fa-fw mr-3" aria-hidden="true"></i><span class="pb-1 md:pb-0 text-sm">Calendar</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </nav>

        <div>
            {% block content %}{% endblock %}
        </div>

        <script>
            /*Toggle dropdown list*/
            /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/
        
            var userMenuDiv = document.getElementById("userMenu");
            var userMenu = document.getElementById("userButton");
        
            var navMenuDiv = document.getElementById("nav-content");
            var navMenu = document.getElementById("nav-toggle");
        
            document.onclick = check;
        
            function check(e) {
                var target = (e && e.target) || (event && event.srcElement);
        
                //User Menu
                if (!checkParent(target, userMenuDiv)) {
                    // click NOT on the menu
                    if (checkParent(target, userMenu)) {
                        // click on the link
                        if (userMenuDiv.classList.contains("invisible")) {
                            userMenuDiv.classList.remove("invisible");
                        } else { userMenuDiv.classList.add("invisible"); }
                    } else {
                        // click both outside link and outside menu, hide menu
                        userMenuDiv.classList.add("invisible");
                    }
                }
                
                //Nav Menu
                if (!checkParent(target, navMenuDiv)) {
                    // click NOT on the menu
                    if (checkParent(target, navMenu)) {
                        // click on the link
                        if (navMenuDiv.classList.contains("hidden")) {
                            navMenuDiv.classList.remove("hidden");
                        } else { navMenuDiv.classList.add("hidden"); }
                    } else {
                        // click both outside link and outside menu, hide menu
                        navMenuDiv.classList.add("hidden");
                    }
                }
        
            }
            function checkParent(t, elm) {
                while (t.parentNode) {
                    if (t == elm) { return true; }
                    t = t.parentNode;
                }
                return false;
            }
        </script>
    </body>
</html>
